@use "../variaveis";
@use "../mixins";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(variaveis.$corDeFundo, 0.5);
    padding: 10px 0px;
    transition: all 0.3s ease;

    &__menu {
        display: flex;
        margin-right: 98px;

        &__list {
            display: flex;
            list-style: none;
        }

        &__list__item button {
            height: 30px;
            width: 100px;
            margin-left: 10px;
            border-radius: 4px;
            background-color: variaveis.$corDetalhes;
            color: variaveis.$corTextos;
        }
    }

    &__icon {
        margin-left: 98px;
        height: 80px;
        width: 80px;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        display: block;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
    }

    &.header--scrolled {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: transparent;

        .header__icon {
            opacity: 1;
            visibility: visible;
            display: block;
        }

        .header__menu {
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            visibility: hidden;
        }
    }

    &.header--scrolled.header--menu-open {
        flex-direction: column;
        align-items: flex-start;

        .header__menu {
            transform: scaleY(1);
            opacity: 1;
            visibility: visible;
            transition:
                transform 0.3s ease,
                opacity 0.3s ease,
                visibility 0.3s ease;
            display: block;
            margin-left: 88px;

            button {
                margin: 0;
            }

            &__list {
                display: block;

                &__item {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0;
        margin-top: 115px;
        position: relative;

        &__menu {
            margin-right: 10px;

            &__list {
                &__item {
                    margin-top: 0;
                }
            }
        }

        button {
            align-self: flex-end;
        }

        &__icon {
            margin-left: 10px;
            width: 60px; // <- novo tamanho
            height: 60px; // <- novo tamanho
        }

        &.header--scrolled {
            margin-top: 0; // <- evita espaço extra
            position: fixed;
            top: 0;
            left: 0;

            & .header__icon {
                position: absolute;
                top: 10px;
                left: 10px;
                margin: 0;
            }
        }
    }
}
