@use "header";
@use "hero";
@use "content-control";
@use "personagens";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #001030;
    background: url("../../src/img/hero-background.png") no-repeat center/cover;
}

.personagens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
